.do {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.do-pet{
    background-image: url('./icons/patas.png');
}
.do-home{
    background-image: url('./icons/casa.png');
}
.do-person{
    background-image: url('./icons/do-utilizador.png');
}
.do-timeline{
    background-image: url('./icons/timeline.png');
}
.do-bag{
    background-image: url('./icons/bag.png');
}

.do-consulta{
    background-image: url('./icons/estetoscopio.png');
}
.do-cirurgia{
    background-image: url('./icons/coracao.png');
}
.do-vacina{
    background-image: url('./icons/seringa.png');
}
.do-estetica{
    background-image: url('./icons/tesoura.png');
}
.do-creche{
    background-image: url('./icons/banheira.png');
}
.do-exame{
    background-image: url('./icons/microscopio.png');
}
.do-hospedagem{
    background-image: url('./icons/hotel.png');
}
.do-internamento{
    background-image: url('./icons/internamento.png');
}
