<p-tabs class="tb" value="0">
  <p-tablist>
    <p-tab value="0">Linha do tempo</p-tab>
    <p-tab value="1">Histórico clinico</p-tab>
    <p-tab value="2">Faturamento</p-tab>
    <p-tab value="3">Vendas</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <div class="tb-timeline">
      </div>
    </p-tabpanel>
    <p-tabpanel value="1">
      Aqui é o histórico clinico
    </p-tabpanel>
    <p-tabpanel value="2">
      aqui é o faturamnto
    </p-tabpanel>
    <p-tabpanel value="3">
      aqui são as vendas
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
