<div [formGroup]="formGroup">
  <p-tabs class="tb" value="0">
    <p-tablist>
      <p-tab value="0">Pessoa</p-tab>
      <p-tab value="1">Endereços</p-tab>
      <p-tab value="2">Telefones</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <div class="formgrid grid">
          <app-input-text
            formControlName="name"
            name="name"
            [field]="formGroup"
            class="field col-12 md:col-8 c-margin"
            [label]="translateService.translate('person_name')"
            type="text">
          </app-input-text>
          <app-dropdown
            formControlName="typeNaturalPerson"
            name="typeNaturalPerson"
            [field]="formGroup"
            [label]="translateService.translate('person_typeNaturalPerson')"
            [options]="_naturalPerson"
            optionLabel="value"
            class="field col-12 md:col-4 c-margin">
          </app-dropdown>
          <div class="field col-12 md:col-12">
            <p-tabs value="0">
              <p-tablist>
                <p-tab value="0">Fisica</p-tab>
                <p-tab value="1">Jurídica</p-tab>
              </p-tablist>
              <p-tabpanels>
                <p-tabpanel value="0">
                  <div formGroupName="personNatural" class="formgrid grid">
                    <app-input-mask
                      formControlName="cpf"
                      name="personNatural.cpf"
                      [field]="formGroup"
                      class="field col-12 md:col-3 c-margin"
                      [label]="translateService.translate('person_cpf')"
                      mask="999.999.999-99">
                    </app-input-mask>
                    <app-input-text
                      formControlName="rg"
                      name="personNatural.rg"
                      [field]="formGroup"
                      class="field col-12 md:col-2 c-margin"
                      [label]="translateService.translate('person_rg')">
                    </app-input-text>
                    <app-input-text
                      formControlName="birthRegistry"
                      name="personNatural.birthRegistry"
                      [field]="formGroup"
                      class="field col-12 md:col-4 c-margin"
                      [label]="translateService.translate('person_birthRegistry')">
                    </app-input-text>
                    <app-dropdown
                      formControlName="maritalStatus"
                      name="personNatural.maritalStatus"
                      [field]="formGroup"
                      [label]="translateService.translate('person_maritalStatus')"
                      [options]="_maritalStatus"
                      optionLabel="value"
                      class="field col-12 md:col-3 c-margin">
                    </app-dropdown>
                    <app-auto-complete
                      formControlName="birthplaceCity"
                      name="personNatural.birthplaceCity"
                      [field]="formGroup"
                      class="field col-12 md:col-3 c-margin"
                      [label]="translateService.translate('person_birthplaceCity')"
                      route="city"
                      optionLabel="name"
                      type="text">
                    </app-auto-complete>
                    <app-auto-complete
                      formControlName="educationLevel"
                      name="personNatural.educationLevel"
                      [field]="formGroup"
                      class="field col-12 md:col-3 c-margin"
                      [label]="translateService.translate('person_educationLevel')"
                      route="levelOfEducation"
                      optionLabel="description"
                      type="text">
                    </app-auto-complete>
                    <app-auto-complete
                      formControlName="profession"
                      name="personNatural.profession"
                      [field]="formGroup"
                      class="field col-12 md:col-3 c-margin"
                      [label]="translateService.translate('person_profession')"
                      route="jobPosition"
                      optionLabel="description"
                      type="text">
                    </app-auto-complete>
                    <app-dropdown
                      formControlName="gender"
                      name="personNatural.gender"
                      [field]="formGroup"
                      [label]="translateService.translate('person_gender')"
                      [options]="_gender"
                      optionLabel="value"
                      class="field col-12 md:col-3 c-margin">
                    </app-dropdown>
                    <app-input-date
                      formControlName="birthDate"
                      name="personNatural.birthDate"
                      [field]="formGroup"
                      class="field col-12 md:col-4 c-margin"
                      [label]="translateService.translate('person_birthDate')"
                      type="date">
                    </app-input-date>
                    <app-dropdown
                      formControlName="ruralProducer"
                      name="personNatural.ruralProducer"
                      [field]="formGroup"
                      [label]="translateService.translate('person_ruralProducer')"
                      [options]="_confirm"
                      optionLabel="value"
                      class="field col-12 md:col-2 c-margin">
                    </app-dropdown>

                    <app-input-text
                      formControlName="passportNumber"
                      name="personNatural.passportNumber"
                      [field]="formGroup"
                      class="field col-12 md:col-3 c-margin"
                      [label]="translateService.translate('person_passportNumber')">
                    </app-input-text>

                    <app-input-text
                      formControlName="nickname"
                      name="personNatural.nickname"
                      [field]="formGroup"
                      class="field col-12 md:col-3 c-margin"
                      [label]="translateService.translate('person_nickname')">
                    </app-input-text>
                  </div>
                </p-tabpanel>
                <p-tabpanel value="1">
                  <div formGroupName="personLegal" class="formgrid grid">
                    <app-input-text
                      formControlName="companyName"
                      name="personLegal.companyName"
                      [field]="formGroup"
                      class="field col-12 md:col-8 c-margin"
                      [label]="translateService.translate('person_companyName')">
                    </app-input-text>
                    <app-input-mask
                      formControlName="cnpj"
                      name="personLegal.cnpj"
                      [field]="formGroup"
                      class="field col-12 md:col-4 c-margin"
                      [label]="translateService.translate('person_cnpj')"
                      mask="99.999.999/9999-99">
                    </app-input-mask>
                    <app-input-text
                      formControlName="stateRegistration"
                      name="personLegal.stateRegistration"
                      [field]="formGroup"
                      class="field col-12 md:col-3 c-margin"
                      [label]="translateService.translate('person_stateRegistration')">
                    </app-input-text>
                    <app-input-text
                      formControlName="municipalRegistration"
                      name="personLegal.municipalRegistration"
                      [field]="formGroup"
                      class="field col-12 md:col-3 c-margin"
                      [label]="translateService.translate('person_municipalRegistration')">
                    </app-input-text>
                    <app-auto-complete
                      formControlName="cnae"
                      name="personNatural.cnae"
                      [field]="formGroup"
                      class="field col-12 md:col-3 c-margin"
                      [label]="translateService.translate('person_cnae')"
                      route="cnae"
                      optionLabel="code"
                      type="text">
                    </app-auto-complete>
                    <app-auto-complete
                      formControlName="taxRegime"
                      name="personNatural.taxRegime"
                      [field]="formGroup"
                      class="field col-12 md:col-3 c-margin"
                      [label]="translateService.translate('person_taxRegime')"
                      route="taxRegime"
                      optionLabel="description"
                      type="text">
                    </app-auto-complete>
                  </div>
                </p-tabpanel>
              </p-tabpanels>
            </p-tabs>
          </div>
          <div class="field col-12 md:col-12">
            <div formGroupName="personCustomer" class="formgrid grid">
              <div class="col-12 md:col-2">
                <app-image-upload
                  class="image-container field col-12 md:col-2"
                  [imageUrl]="urlImage"
                  (eventImageToken)="onGetTokenImage($event)"
                  [tokenImageUrl]="imageToken">
                </app-image-upload>
              </div>
              <div class="formgrid grid col-12 md:col-10">
                <app-input-text
                  formControlName="origin"
                  name="personCustomer.origin"
                  [field]="formGroup"
                  class="field col-12 md:col-4"
                  [label]="translateService.translate('person_origin')"
                  type="text">
                </app-input-text>
                <app-auto-complete
                  formControlName="media"
                  name="personCustomer.media"
                  [field]="formGroup"
                  class="field col-12 md:col-4"
                  [label]="translateService.translate('person_media')"
                  route="media"
                  optionLabel="description"
                  type="text">
                </app-auto-complete>
                <app-dropdown
                  formControlName="status"
                  name="personNatural.status"
                  [field]="formGroup"
                  [label]="translateService.translate('person_status')"
                  [options]="_status"
                  optionLabel="value"
                  class="field col-12 md:col-4">
                </app-dropdown>
                <app-dropdown
                  formControlName="allowSms"
                  name="personNatural.allowSms"
                  [field]="formGroup"
                  [label]="translateService.translate('person_allowSms')"
                  [options]="_confirm"
                  optionLabel="value"
                  class="field col-12 md:col-4">
                </app-dropdown>
                <app-dropdown
                  formControlName="allowEmail"
                  name="personNatural.allowEmail"
                  [field]="formGroup"
                  [label]="translateService.translate('person_allowEmail')"
                  [options]="_confirm"
                  optionLabel="value"
                  class="field col-12 md:col-4">
                </app-dropdown>
                <app-auto-complete
                  formControlName="classification"
                  name="personCustomer.classification"
                  [field]="formGroup"
                  class="field col-12 md:col-4"
                  [label]="translateService.translate('person_tagsCustomer')"
                  route="tagsCustomer"
                  optionLabel="description"
                  type="text">
                </app-auto-complete>
              </div>
              <app-input-number
                type="text"
                formControlName="monthlyIncome"
                name="personCustomer.monthlyIncome"
                [field]="formGroup"
                class="field col-12 md:col-4"
                [label]="translateService.translate('person_monthlyIncome')">
              </app-input-number>
              <app-input-number
                type="text"
                formControlName="creditLimit"
                name="personCustomer.creditLimit"
                [field]="formGroup"
                class="field col-12 md:col-4 c-margin"
                [label]="translateService.translate('person_creditLimit')">
              </app-input-number>
              <app-input-number
                type="text"
                formControlName="creditBalance"
                name="personCustomer.creditBalance"
                [field]="formGroup"
                class="field col-12 md:col-4"
                [label]="translateService.translate('person_creditBalance')">
              </app-input-number>
              <app-dropdown
                formControlName="taxPayerType"
                name="personNatural.taxPayerType"
                [field]="formGroup"
                [label]="translateService.translate('person_taxPayerType')"
                [options]="_taxPayer"
                optionLabel="value"
                class="field col-12 md:col-3">
              </app-dropdown>
              <app-input-text
                type="text"
                formControlName="suframaRegistration"
                name="personCustomer.suframaRegistration"
                [field]="formGroup"
                class="field col-12 md:col-3"
                [label]="translateService.translate('person_suframaRegistration')">
              </app-input-text>
              <app-dropdown
                formControlName="issRetention"
                name="personNatural.issRetention"
                [field]="formGroup"
                [label]="translateService.translate('person_issRetention')"
                [options]="_confirm"
                optionLabel="value"
                class="field col-12 md:col-2">
              </app-dropdown>
              <app-dropdown
                formControlName="simpleNationalOpting"
                name="personNatural.simpleNationalOpting"
                [field]="formGroup"
                [label]="translateService.translate('person_simpleNationalOpting')"
                [options]="_confirm"
                optionLabel="value"
                class="field col-12 md:col-4">
              </app-dropdown>
              <div class="field col-12 md:col-12">
                <p-tabs value="0">
                  <p-tablist>
                    <p-tab value="0">{{ translateService.translate("person_generalNotes") }}</p-tab>
                    <p-tab value="1">{{ translateService.translate("person_personalNotes") }}</p-tab>
                    <p-tab value="2">{{ translateService.translate("person_commercialNotes") }}</p-tab>
                    <p-tab value="3">{{ translateService.translate("person_guarantorNotes") }}</p-tab>
                    <p-tab value="4">{{ translateService.translate("person_assetNotes") }}</p-tab>
                    <p-tab value="5">{{ translateService.translate("person_authorizedNotes") }}</p-tab>
                  </p-tablist>
                  <p-tabpanels>
                    <p-tabpanel value="0">
                      <app-input-text
                        fieldType="input-text-area"
                        formControlName="generalNotes"
                        name="personCustomer.generalNotes"
                        [field]="formGroup"
                        class="field col-12 md:col-12">
                      </app-input-text>
                    </p-tabpanel>
                    <p-tabpanel value="1">
                      <app-input-text
                        fieldType="input-text-area"
                        formControlName="personalNotes"
                        name="personCustomer.personalNotes"
                        [field]="formGroup"
                        class="field col-12 md:col-12">
                      </app-input-text>
                    </p-tabpanel>
                    <p-tabpanel value="2">
                      <app-input-text
                        fieldType="input-text-area"
                        formControlName="commercialNotes"
                        name="personCustomer.commercialNotes"
                        [field]="formGroup"
                        class="field col-12 md:col-12">
                      </app-input-text>
                    </p-tabpanel>
                    <p-tabpanel value="3">
                      <app-input-text
                        fieldType="input-text-area"
                        formControlName="guarantorNotes"
                        name="personCustomer.guarantorNotes"
                        [field]="formGroup"
                        class="field col-12 md:col-12">
                      </app-input-text>
                    </p-tabpanel>
                    <p-tabpanel value="4">
                      <app-input-text
                        fieldType="input-text-area"
                        formControlName="assetNotes"
                        name="personCustomer.assetNotes"
                        [field]="formGroup"
                        class="field col-12 md:col-12">
                      </app-input-text>
                    </p-tabpanel>
                    <p-tabpanel value="5">
                      <app-input-text
                        fieldType="input-text-area"
                        formControlName="authorizedNotes"
                        name="personCustomer.authorizedNotes"
                        [field]="formGroup"
                        class="field col-12 md:col-12">
                      </app-input-text>
                    </p-tabpanel>
                  </p-tabpanels>
                </p-tabs>
              </div>
            </div>
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel value="1">
        <div class="tb-person">
          <app-datatable
            [config]="dataTableAddress"
            (onRegister)="openModal(ETypeRegistry.ADDRESS, null)">
          </app-datatable>
        </div>
      </p-tabpanel>
      <p-tabpanel value="2">
        <div>
          <div>Telefones</div>
          <hr>
          <app-datatable
            [config]="dataTablePhone"
            (onRegister)="openModal(ETypeRegistry.PHONE, null)">
          </app-datatable>
        </div>
        <div style="margin-top: 30px">
          <div>Emails</div>
          <hr>
          <app-datatable
            [config]="dataTableEmail"
            (onRegister)="openModal(ETypeRegistry.EMAIL, null)">
          </app-datatable>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
<div class="buttons">
  <p-button  [label]="translateService.translate('common_action_save')" (keydown.enter)="onSave()" (onClick)="onSave()"/>
  <p-button  [label]="translateService.translate('common_action_cancel')" (onClick)="onCancel()"/>
</div>
